.profile_section {
    margin: 125px 0 50px;
}
.level {
    color: #6e6b7b;
    font-size: 12px;
}
.title {
    color: #6e6b7b;
    font-size: 18px;
}
.edit {
    cursor: pointer;
    color: #6e6b7b;
    font-size: 18px;
}
.card {
    border: unset;
    box-shadow: rgb(0 0 0 / 10%) 0px 4px 12px;
}
